/*aboutus.html*/

.upper{
	background-color: lightgrey;
	text-align: center;
	padding: 10px 15% 10px 15%;
}

.topmain{
	padding: 10px 15% 10px 15%;
}

.middlemain{
	text-align: center;
	background-color: lightgrey;
	padding-top: 100px;
	padding-bottom: 175px;
}

.lowermain_visi{
	padding: 200px 15% 0px 15%;
}

.lowermain_misi{
	padding: 200px 15% 400px 15%;
}

/*helpcenter.html*/

.middlemain2{
	text-align: center;
	padding: 0px 15% 75px 15%;
}

.container{
    background-color: lightgrey;
	padding-top: 15px;
	padding-bottom: 15px;
}

.card-body{
	text-align: left;
}

#id_Question {
    width: 75%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#id_Answer {
    width: 75%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #BD5555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    text-align: center;
    border: 10px;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #BD5555;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
	margin-left: auto;
	margin-right: auto;
    padding: 10px 18px;
    width: 75%;
    text-align: left;
    background-color: white;
    display: none;

}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #777;
  float: right;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*Collections.html*/

.QnA{
	text-align: left;
	padding-left: 10%;
	padding-bottom: 20px;
}

.questColl{
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
}

.itemColl{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #BD5555;
	padding: 20px;
}

/*Footer*/

.containerFooter{
	text-align: center;
	background-color: #BD5555;
	color : white;
	width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    padding-top: 100px;
    padding-bottom: 75px;
    padding-left: 10%;
    padding-right: 10%;

}

.FooterCopyRight{
	margin-top: 0px;
	text-align: center;	
	background-color: lightgrey;
	padding-bottom: 5px;

}