.cari {
    margin-top: 30px;
}
.input {
    border-color: #C4C4C4;
    margin-top: 2px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
}
.submit {
    margin-top: 15px;
    border: none;
    width: 75px;
    font-size: 20px;
    background-color: #BD5555;
    color: #F3F3F3;
    border-radius: 10px;
}
.submit:hover {
    background-color: #920003;
}
.buka {
    color: #F3F3F3;
}
.restoran {
    margin-top: 50px;
}
.foto {
    width: 255px;
    height: 150px;
}
.link, .link:hover {
    text-decoration: none;
    color: #F3F3F3;
}
.batas:hover {
    background-color: #18435A;
}
.batas {
    border-color: #F3F3F3;
    border-style: double;
    border-radius: 10px;
}
.baris, .batas {
    margin-top: 15px;
    margin-bottom: 15px;
}
.deskripsi {
    margin-top: 15px;
}
.tabel .head {
    width: 100px;
}
.button {
    border: none;
    width: 125px;
    font-size: 20px;
    background-color: #F3F3F3;
    color: #13293D;
    border-radius: 10px;
    transition: transform .3s;
}
.button:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25); 
}