<!DOCTYPE html>
<html>
    {% include "navbar.html" %}
    {% load static %}
    <head>
    <title>hasil pencarian</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/resto.css' %}">
    </head>
    <body style="background-color: #F3F3F3;">
        <div class="container">
            <form method="POST" class="row my-5">
                {% csrf_token %}
                <input type="text" placeholder="Cari Restoran" name="search" class="col-7 ml-auto" id="input">
                <button type="submit" class="btn col-2 mr-auto" style="margin-left: 1vw;">Cari</button>
            </form>
                <table style="margin-bottom: 1vh;margin-left: 11%" style="z-index:-1 ;position:relative">
                    <thead id="konten">
                    </thead>
                </table>
            {% if messages %}
            {% for xx in messages %}
            <div class="alert alert-{{ xx.tags }} alert-dismissible fade show mt-4" role="alert">
                {{ xx }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}


        <div class="card" id="resto">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img id="foto-resto" src="{{resto.foto}}" alt="Card image cap">
                </div>
                 <div class="card-body">
                <h4 class="card-title">{{resto.nama_restoran}}</h4>
                <p class="card-text">Lokasi : {{resto.lokasi}}</p>
                <p class="card-text">Kategori : {{resto.kategori}}</p>
                <p class="card-text"><img class="bintang" src="https://www.freepnglogos.com/uploads/star-png/file-featured-article-star-svg-wikimedia-commons-8.png"> {{resto.rating}}</p>
            </div>
            </div>
        </div>

        <div class="container">
            {% if makanan %}
                {% for makan in makanan %}
                    <div class="row batas">
                        <div class="col-lg-4 baris">
                            <img class="foto-makanan" src="{{ makan.foto }}" alt="Images">
                        </div>
                        <div class="col-md-8 baris">
                            <h3 class="deskripsi">{{ makan.nama_makanan }}</h3>
                            <table class="tabel">
                                <tr>
                                    <td class="head">Harga</td>
                                    <td class="data">: {{ makan.harga }}</td>
                                </tr>
                                <form method="POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td class="head">Jumlah</td>
                                        <td class="data">{{ beli.beli }}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn">Beli</button>
                                        </td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <h6>REVIEW</h6>
        {% for xx in reviews %}
        {% if resto.id == xx.resto.id %}
        <div class ="card" id="review">
            <div class="card-body">
                <h4 class="card-title" id="reviewtittle">{{xx.reviewer}}</h4>
                <p class="card-text" id="bintang"><img class="bintang" src="https://www.freepnglogos.com/uploads/star-png/file-featured-article-star-svg-wikimedia-commons-8.png"> {{xx.rating}}</p>
                <p class="card-text" id="reviewtext">{{xx.isi}}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <h6 id='add-review'>Tambah Review</h6>
        <div id='form-review'>
        {% if user.is_authenticated %}
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="col-7">
                {{ form }}
                </div>
                <button type="submit" class="btn mt-3">Add Review</button>
            </form>
        </div>
        {% else %}
        <p>Login untuk memberi review</p>
        {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/resto.js' %}"></script>
    <br>
    </body>
    </html>