<!DOCTYPE html>
<html>
{% include "navbar.html" %}
{% load static %}
<head>
<title>hasil pencarian</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <div class="container py-4">
        <form method="POST" class="row my-5">
            {% csrf_token %}
            <div class="col-7 ml-auto">
            {{ form.cari }}
            </div>
            <button type="submit" class="btn col-2 mr-auto">cari</button>
        </form>

        <div class="container-fluid">
            {% if resto %}
            {% for xx in resto %}
            <div class="card">
                <a href="{% url 'kybe:resto' xx.id %}">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="foto" src="{{xx.foto}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{xx.nama_restoran}}</h4>
                        <p class="card-text">{{xx.lokasi}}</p>
                        <p class="card-text">{{xx.kategori}}</p>
                        <p class="card-text"><img class="bintang" src="https://www.freepnglogos.com/uploads/star-png/file-featured-article-star-svg-wikimedia-commons-8.png">{{xx.rating}}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <h4 class="maaf">Maaf "{{nama}}" tidak ditemukan</h4>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>