<!DOCTYPE html>
{% load static %}

<html lang="en">
    {% include "navbar.html" %}
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link id="css" rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
        <title>Homepage</title>
    </head>

    <body id="body" style="background-color: #F3F3F3;">
        <div class="container-xl">
            <form method="POST">
                {% csrf_token %}
                <div class="row cari">
                    <div class="col-lg-12">
                        {{ form.cari }}
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-sm-12">
                        <button class="submit" type="submit">Cari</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container-xl restoran">
            <div class="row text-left">
                <div class="col-sm-12">
                    <h2 class="buka">Mau order?</h2>
                    <h3 class="buka"><b>OrderIn</b> aja kuy</h3>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            {% if show %}
                {% for resto in show %}
                <a href="{% url 'kybe:resto' resto.id %}" class="link">
                    <div class="row batas">
                        <div class="col-lg-4 baris">
                            <img class="foto" src="{{ resto.foto }}" alt="Images">
                        </div>
                        <div class="col-md-8 baris">
                            <h3 class="deskripsi">{{ resto.nama_restoran }}</h3>
                            <table class="tabel">
                                <tr>
                                    <td class="head">Lokasi</td>
                                    <td>: {{ resto.lokasi }}</td>
                                </tr>
                                <tr>
                                    <td class="head">Jenis</td>
                                    <td>: {{ resto.kategori }}</td>
                                </tr>
                                <tr>
                                    <td class="head">Rating</td>
                                    <td>: {{ resto.rating }}/5.0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container-xl restoran">
            <div class="row text-right">
                <div class="col-sm-12">
                    <button id="button" class="button" onclick="myFunction()">Dark mode</button>
                </div>
            </div>
        </div>

        <br>
        <br>

        <script>
            function myFunction() {
                var body = document.getElementById('body').style.backgroundColor;
                if (body == 'rgb(19, 41, 61)') {
                    document.getElementById('body').style.backgroundColor = '#F3F3F3';
                    document.getElementById('css').href = "{% static 'index.css' %}";
                    document.getElementById('button').innerHTML = "Dark Mode";
                } else {
                    document.getElementById('body').style.backgroundColor = '#13293D';
                    document.getElementById('css').href = "{% static 'gelap.css' %}";
                    document.getElementById('button').innerHTML = "Light Mode";
                }
            }
        </script>
    </body>

    {% include "footer.html" %}
</html>