.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    background-color: #F3F3F3
    }
.container{
    margin-top: 3vw;
    background-color: #F3F3F3
}
.bintang{
    height: 1rem;
    width: 1rem;
    margin-right: 0.7vw;
}
h6{
    text-decoration: underline;
    font-size: 20px;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
#review{
    border-width: 0cm;
}
.btn{
    background-color: #BD5555;
    color: #F3F3F3;
}
#resto{
    border-color: black;
}
#reviewtittle, #bintang, #reviewtext{
    margin-bottom: 0.3vw;
}
.baris, .batas {
    margin-top: 15px;
    margin-bottom: 15px;
}
.deskripsi {
    margin-top: 15px;
}
.tabel .head {
    width: 100px;
}
#foto-resto {
    height: 400px;
    width: 400px;
    margin: 7px;
}
#foto-resto {
	transition: all .4s ease-in-out;
}
.transition {
    transform: scale(1.3);
}
.foto-makanan {
    height: 250px;
    width: 250px;
}
@media screen and (max-width: 992px) {
    #foto-resto{
        height: 250px;
        width: 250px;
        margin: 5px;
    }
    .foto-makanan {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    #foto-resto{
        height: 200px;
        width: 200px;
        margin: 5px;
    }
    .foto-makanan{
        height: 200px;
        width: 200px;
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
        flex-direction:column;
    }
    .img-square-wrapper{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.card-body{
    margin-top: auto;
    margin-bottom: auto;
}

#form-review{
    display: none;
}
