.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    border: 1vw;
    color: black;
}

.card{
    border-color: black;
    margin-bottom:1rem;
    background-color: #F3F3F3
}
.card-body{
    margin-top: 1rem;
}
.btn{
    background-color: #BD5555;
    color: #F3F3F3;
}
.bintang{
    height: 1rem;
    width: 1rem;
    margin-right: 0.7vw;
}
.card-text{
    margin-bottom: 0.1vw;
}
.maaf {
    color: black;
}
body{
    background-color: #F3F3F3
}
.foto{
    width: 200px;
    height: 200px;
    margin: 5px;
}
@media screen and (max-width: 992px) {
        .foto{
            height: 300px;
            width: 300px;
            margin: 5px;
        }
    }

    @media screen and (max-width: 600px) {
        .foto{
            height: 200px;
            width: 200px;
            margin: 5px;
        }
        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
            flex-direction:column;
        }
        .img-square-wrapper{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }