input[type=text] {
    border: 1px solid #FFAAA5 ;
    border-bottom: 5px solid #FFAAA5;
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
    padding-right: 50px;
    margin: 5px 0;
    display: inline-block;
    /* box-sizing: border-box; */
}

#quesCard {
    background-color: #B7FFC2;
}

#quesCard:hover {
    cursor: pointer;
}

.tulis {
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

