{% include "navbar.html" %}
{% load static %}
 
<head>
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<hr>
<div class = "middlemain2">

	<form action = '' method="POST">


	<div class="coloumn" style="background-color: lightgrey; padding-bottom: 25px;">

	  		<h3 align="center" style="background-color: #BD5555; color: white; padding-top: 20px; padding-bottom: 20px;">QnA Forms</h3>

			{% csrf_token %}

			<div class="QnA">
				<br>
			<p>Question :</p>
			{{form.Question}}

			<br>
			<br>

			<p>Answer : </p>
			{{form.Answer}}
			<br>
			<br>
			<button class="btn btn-info">
				<a href="{% url 'extra:helpcenter'%}"style="color: white; ">Back</a>
			</button>
			<input type = "submit" class="btn btn-primary" >
			</div>
			

		</div>

	</form>
	<hr>

	<div class="questColl">
		<h3>Question Collection</h3>
		<br>

		{% for item in result %}
		<div class="itemColl">
			<p style="color: white;">Question :</p>
			<h4>{{item.Question}}</h4>
			<br>
			<div style="background-color: white;">
				<button class="btn btn-warning">
					<a href="{% url 'extra:delete' item.id %}" style="color: black;">Delete</a>
				</button>
			</div>
			<br>

		</div>
		<br>
			{% endfor %}
	</div>

</div>

<hr>

{% include "base.html" %}