<!DOCTYPE html>
<html>
{% load static %}
{% include "navbar.html" %}
<head>

	<title>Keranjang</title>

	<!-- file CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link id="css" rel="stylesheet" href="{% static 'style.css' %}">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="body" style="background-color: #F3F3F3;">
	<div class="container">
		<div class="section">
			<div class="row padding2">

				<div class="col-md-8">
					{% if makan %}
                		{% for makanan in makan %}
							<div class="row">
								<div class="col-lg-4 margin">
									<img class= "fotomakanan" src="{{ makanan.foto }}">
								</div>
								<div class="col-xl-8 margin">
									<p>{{ makanan.nama_makanan }}</p>
									<p>Lokasi : {{ makanan.restoran.lokasi }}</p>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>

				<div class="col-md-4">
					<div class="card1">
						<div class="card body padding1" style="background-color:  rgb(105, 97, 97);">
							<p>Total : </p>
							{% if user.is_authenticated %}
							<div class="btn-checkout">
								<a href="{% url 'keranjang:checkout' %}">
									<button class="btn btn-danger hover padding1">Checkout</button>
								</a>
							</div>

							{% else %}
							<section id="section">
								<div class="btn-checkout">
									<button id="button" class="btn btn-danger hover padding1">Checkout</button>
								</div>
							</section>
							<p id="X">Untuk melakukan checkout, Login Terlebih dahulu.</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="row padding1">
				<div class="col-md-4" style="margin-right: auto;margin-left: auto;">
					<p class="border1 hover" style="text-align: center;">Rekomendasi Restoran</p>
				</div>
			</div>

			<div class="row border2">
				{% if resto %}
					{% for restoran in resto %}
						<div class="col-md-3">
							<div>
								<a href="{% url 'kybe:resto' restoran.id %}" class="link">
									<img class="foto-keranjang1" src="{{ restoran.foto }}">
								</a>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>

			<br>

		</div>
	</div>
	<div class="footer">

	</div>
	<br>
	<script type ="text/javascript" src="{% static 'pop.js' %}" charset="utf-8"></script>

	<div class="container-xl restoran">
		<div class="row text-right">
			<div class="col-sm-12">
				<button id="tombol" class="button" onclick="myFunction()">Dark mode</button>
			</div>
		</div>
	</div>

	<br>
	<br>

	<script>
		function myFunction() {
			var body = document.getElementById('body').style.backgroundColor;
			if (body == 'rgb(19, 41, 61)') {
				document.getElementById('body').style.color = '#13293D';
				document.getElementById('css').href = "{% static 'style.css' %}";
				document.getElementById('body').style.backgroundColor = '#F3F3F3';
				document.getElementById('tombol').innerHTML = "Dark Mode";
			} else {
				document.getElementById('body').style.color = '#F3F3F3';
				document.getElementById('css').href = "{% static 'stylegelap.css' %}";
				document.getElementById('body').style.backgroundColor = '#13293D';
				document.getElementById('tombol').innerHTML = "Light Mode";
			}
		}
	</script>
</body>
</html>