

header{
  width: 100%;
  height: 70px;
  background-color:  rgb(190, 73, 73);
}

.logo{
  position: absolute;
  padding: 1px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: white;
}

ul{
  width: auto;
  float: right;
  margin-top: 8px;
}

li{
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

a:hover{
  color: black;
  margin-top: -16px;
}

.card1{
  background-color: rgb(255, 255, 255);
}

.font-checkout{
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.hover:hover{
	transform: scale(1.1,1.1);
}

.hover2:hover{
	transform: scale(1.2,1.2);
}

.hover3:hover{
	transform: scale(1.3,1.3);
}

.foto-keranjang1{
  width: 255px;
  height: 175px;
  padding: 0.5em;
}

.btn-checkout{
  text-align: center;
}

.fotomakanan{
  width: 220px;
  height: 150px;
}

.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.border1{
  background-color: rgb(105, 97, 97);
  border-radius: 10px;
}

.border2{
  background-color: rgb(190, 73, 73);
  border-radius: 10px;
}

hr { 
  position: relative; 
  top: 20px; 
  border: none; 
  height: 5px; 
  background: rgb(190, 73, 73); 
  margin-bottom: 50px; 
}

.padding1{
  padding: 5px;
}

.padding2{
  padding: 10px;
}

.table{
  border-color: black;
}

@keyframes drop {
  0%{
    top: -100px;
  }
  100%{
    top: 50%;
  }
}
#X{
  font-size: 20px;
  cursor: pointer;
  display: none;
  border:;
}
section{
  transition: 2s;
}

#tombol {
  border: none;
  width: 125px;
  font-size: 20px;
  background-color: #13293D;
  color: #F3F3F3;
  border-radius: 10px;
  transition: transform .3s;
}
#tombol:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25); 
}
