{% load static %}


<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <style>
            input[type=text] {
                border: 1px solid #BD5555 ;
                border-bottom: 5px solid #BD5555;
                border-radius: 10px;
                width: 100%;
                padding: 5px 5px;
                padding-right: 50px;
                margin: 5px 0;
                display: inline-block;
            }

            #feedbackCard {
                background-color: #BD5555;
                color: #F3F3F3;
            }

            #feedbackCard:hover {
                cursor: pointer;
            }

            .tulis {
                font-size: medium;
                font-weight: 600;
                text-align: center;
            }
        </style>
        <title>Feedback</title>
    </head>
    {% include "navbar.html" %}
    <body style="background-color: #F3F3F3;">

        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-10 col-sm-10 mt-5 justify-content-center">
                    <h3 class="tulis text-center"> Berikan Feedback untuk kami! </h3>
        
                    <form class="form-inline justify-content-center" id="feedbackForm" method="POST" data-url="{% url 'feedback:req_list_url' %}">
                        {% csrf_token %}
                        {% for isi in form %}
                            <div class="col-md-8 mx-2">
                               {{ isi }}
                            </div>
                        {% endfor %}
                        <button id="addButton" type="button" class="btn">Tambahkan</button>
                    </form>
        
        
                </div>
               
        
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-6" id="feedbackList">
                    <p class="keterangan">Kritik dan Saran dari kamu sangat berarti bagi kami :)</p>
                    {% for isi in req %}
                        <div class="card mb-1" id= "feedbackCard" data-id="{{ isi.id }}"style="{% if isi.completed %} text-decoration: line-through  {% endif %}">    
                            <div class="card-body">
                                {{ isi.title }}
                                <button type="button" style="color: #F3F3F3;" class="close float-right" data-id="{{ isi.id }}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'feed.js' %}"></script>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    </body>
    {% include "footer.html" %}
</html>